/* index.css */
/* Default styles */

/* Default Heading Style */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/* Default List Style */
ol, ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

p {
  margin-bottom: 1rem;
}


/* End of default style */
/* Heading within the description */

  
  /* List within the description */
  .description ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    color: #555555;
  }
  
  /* List item within the description */
  .description li {
    margin-bottom: 0.25rem;
  }
  

  /* slider */

  .testimonial-item {
    padding: 1rem;
    text-align: center;
  }
  
  .testimonial-avatar-img {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 1rem;
  }

  .testimonial-star {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    fill: #ffc107; /* Adjust the color as needed */
    margin-right: 4px; /* Adjust the spacing between stars */
  }
  
  .testimonial-star.filled {
    fill: #fcd34d; /* Adjust the color for filled stars */
  }
  

  @keyframes pulse {
    0% {
      border-color: #10B981; /* Replace with your desired green shade */
      box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7); /* Replace with your desired green shade with default opacity */
    }
    70% {
      border-color: #A7F3D0; /* Replace with your desired light green shade */
      box-shadow: 0 0 0 8px rgba(167, 243, 208, 0); /* Replace with your desired light green shade with reduced opacity */
    }
    100% {
      border-color: #10B981; /* Replace with your desired green shade */
      box-shadow: 0 0 0 0 rgba(16, 185, 129, 0); /* Replace with your desired green shade with reduced opacity */
    }
  }
  

