@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-textarea {
    @apply w-full py-2 px-4 border-none rounded-lg shadow-md outline-none resize-none text-base text-gray-700;
  }
  
  /* border animation css */

  .border-animation {
    border: 2px solid transparent;
    animation: pulse 2s infinite;
    border-radius: 0.375rem;
  }
  /* end border animation  */
.convertTxt_btn{
    @apply flex justify-between gap-2 flex-wrap 
}
  .convertTxt_btn button{
    @apply py-1 px-2 text-sm text-white
  }


  
  /* Menu style */

  .main_menu a{
    @apply text-white font-medium font-heading hover:text-green-300
  }

  .main_menu_mobile a{
    @apply text-white font-medium font-heading hover:text-green-300 block px-3 py-2
  }